@charset "UTF-8";

BODY {
 margin: 0;
 padding: 0;
 font-family: sans-serif;
 background-color: #1C1C1C;
 background-size: cover;
 background-attachment: fixed;
 background-position: center;
 height: 100%;
color: #DCDCDC;
}
header{
 position: absolute;
 top: 0;
 left: 0;
 padding: 0 100px;
 background: #262626;
 width: 100%;
 box-sizing: border-box;
}
header .logo
{
 color: white;
 height: 50px;
 line-height: 50px;
 font-size: 24px;
 float: left;
 font-weight: bold;
}
header nav
{
  float:right;
}
header nav ul
{
 margin: 0;
 padding: 0;
 display: flex;
}
header nav ul li
{
 list-style: none;
}
header nav ul li a
{
 height: 50px;
 line-height: 50px;
 padding: 0 20px;
 color: #fff;
 text-decoration: none;
 display: block;
}
header nav ul li a:hover,
header nav ul li a.active
{
 color: #fff;
 background: #228B22;
}
.menu-togglee
{
 color: #fff;
 float: right;
 line-height: 50px;
 font-size: 24px;
 cursor: pointer;
 display: none;
}
@media (max-width: 991px)
{
header {
  padding: 0 20px;
}
.menu-togglee
{
  display: block;
}
header nav
{

  position: absolute;
  width: 100%;
  height: calc(100vh - 50px);
  background: #333;
  top: 50px;
  left: -100%;
  transition: 0.5s;
}
header nav.active
{
  left: 0;
}
header nav ul
{
  display: block;
  text-align: center;
}
header nav ul li a
{
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}
}
div.logo-k{
 top: 200px;
}
div#caixa1 {
  border: 2px solid #006400;
  box-sizing: border-box;
  border-radius: 20px;
  top: auto;
  padding: 8px;
  transition: 0.5s;

}
div#caixa2 {
  border: 2px solid #006400;
  box-sizing: border-box;
  border-radius: 20px;
  top: auto;
  padding: 8px;
  transition: 0.2s;

}
div#caixa3 {
  border: 2px solid #006400;
  box-sizing: border-box;
  border-radius: 20px;
  top: 100px;
  padding: 8px;
  transition: 0.5s;

}
div#caixa1:hover {
  border: 3px solid #00FF00;
  box-sizing: inherit;
  border-radius: 30px;
  cursor: pointer;
}
div#caixa2:hover {
  border: 3px solid #00FF00;
  box-sizing: inherit;
  border-radius: 30px;
  cursor: pointer;
}
div#caixa3:hover {
  border: 3px solid #00FF00;
  box-sizing: inherit;
  border-radius: 30px;
cursor: pointer;
}
div.impressora {
  display: inline-block;
  text-align: center;
  float: left;
}
div.celular-centro {
  display: inline-block;
  text-align: center;
  float: none;
}
div.notebook-esquerda {
  display: inline-block;
  text-align: center;
  float: right;
}
div.impressora img {
  width: 300px;
  height: 220px;
}
div.celular-centro img {
  width: 350px;
  height: 220px;
}
div.notebook-esquerda img {
  width: 300px;
  height: 220px;
}
